.max-w-screen-xl {
  max-width: 1280px;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.h-\[100vh\] {
  height: 100vh;
}
.bg-\[\#f1f4f4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 244 244 / var(--tw-bg-opacity));
}
.bg-\[\#F1F4F4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 244 244 / var(--tw-bg-opacity));
}
.px-\[5\%\] {
  padding-left: 5%;
  padding-right: 5%;
}
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.pt-20 {
  padding-top: 5rem;
}
.text-center {
  text-align: center;
}
.text-edp-black {
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity));
}
.text-edp-purple {
  --tw-text-opacity: 1;
  color: rgb(109 50 255 / var(--tw-text-opacity));
}
.gap-6 {
  gap: 1.5rem;
}
.gap-12 {
  gap: 3rem;
}
.fixed {
  position: fixed;
}
.top-0 {
  top: 0px;
}
.left-0 {
  top: 0px;
}
.z-10 {
  z-index: 10;
}
.data-\[status\=open\]\:block[data-status="open"] {
  display: block;
}
.underline {
  text-decoration: underline;
}
.text-\[40px\] {
  font-size: 40px;
}

.leading-tight {
  line-height: 1.25;
}
